@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS&display=swap');

.title-container {
  text-align: center;
}

h1.title {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-align:center;
    text-border: black;
    display: inline-block;
    border-radius: 25px;
    padding: 10px 25px;
    color: #e6f6ffff;               
    background: linear-gradient(32deg,rgba(189, 238, 255, 1) 0%, rgba(0, 136, 140, 1) 69%, rgba(255, 60, 54, 1) 100%);
}
h1.title:hover{
    color: rgba(171, 229, 254, 1)
}
h1.paesaggio{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 64px;
    font-weight: 400;
    font-style: italic;
}
body {
    margin: 0;
    font: Montserrat;
}

.main-section{
    padding: 20px;
}

.img-container{
    height:500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
h3{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    margin-top:0;
    font-style: italic;
}

h1,h3{
    margin-bottom:0;
}
a{
    font-weight:600;
    font-style:italic;
}

h6{
    padding: 22px;
    margin-bottom:0px;
    margin-top:56px;
    color: white;
    border-radius:6px;
}

nav ul.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul{
    padding:0px;
    list-style:none;
}
li {
    padding-top:6px;
    padding-bottom:6px;
    padding-left:22px;
}
ul li a {
    text-decoration: none;
}
ul:not(.nav,.homepage) li {
    border-bottom: 1px dashed #dfdfdf
}

h6.tokyo {    
   background: linear-gradient(180deg,rgba(2, 148, 234, 1) 30%, rgba(215, 176, 188, 1) 75%);
}


ul.tokyo li a {
    color:rgba(2, 148, 234, 1);
}

#tokyo {
    background-image: url(https://www.jal.co.jp/it/it/guide-to-japan/experiences/cherry-blossom/cherry-blossom-season/index/_jcr_content/root/responsivegrid/sectioncontainer_cop/image_934184779.coreimg.jpeg/1688541749639.jpeg);
}

h6.mishima {    
   background: linear-gradient(180deg,rgba(10, 69, 253, 1) 12%, rgba(122, 236, 252, 1) 60%, rgba(99, 183, 33, 1) 87%);
}
ul.mishima li a {
    color:rgba(10, 69, 253, 1);
}

#mishima {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Mishima_sky_walk.jpg/1200px-Mishima_sky_walk.jpg?20161026074048);
}

h6.hakone {  
    background: linear-gradient(180deg,rgba(157, 70, 4, 1) 9%, rgba(238, 194, 13, 1) 38%, rgba(211, 217, 228, 1) 70%, rgba(0, 157, 238, 1) 94%);;
}
ul.hakone li a {
    color: #9d4604;
}

#hakone {
    background-image: url(https://res.klook.com/image/upload/fl_lossy.progressive,w_432,h_288,c_fill,q_85/activities/n3jbtgt5okr5g5ban1ls.jpg);
}

h6.kawaguchiko {  
    background: linear-gradient(180deg,rgba(250, 181, 173, 1) 12%, rgba(69, 134, 178, 1) 58%, rgba(5, 63, 103, 1) 94%);;
}
ul.kawaguchiko li a {
    color:#fab5ad;
}

#kawaguchiko {
    background-image: url(https://static.vecteezy.com/ti/foto-gratuito/p2/30608641-mt-fuji-a-lago-kawaguchiko-nel-giappone-a-tramonto-bellissimo-panoramico-paesaggio-di-montagna-fuji-o-fujisan-con-riflessione-su-shoji-lago-a-alba-con-crepuscolo-cielo-giappone-ai-generato-gratuito-foto.jpg);
}

h6.hakkai {  
    background: linear-gradient(180deg,rgba(173, 197, 40, 1) 28%, rgba(238, 129, 35, 1) 48%, rgba(19, 85, 121, 1) 94%);;
}
ul.hakkai li a {
    color:#adc528;
}

#hakkai {
    background-image: url(https://cdn-imgix.headout.com/media/images/0e871ab6-1de0-428a-95e7-ecd39f8a2d2f-1747914061639-277419.jpg?auto=format&q=90&crop=faces&fit=crop);
}

h6.saiko {  
    background: linear-gradient(180deg,rgba(180, 150, 156, 1) 22%, rgba(77, 138, 179, 1) 69%, rgba(231, 233, 238, 1) 83%);
;
}

ul.saiko li a {
    color:rgba(180, 150, 156, 1);
}

#saiko {
    background-image: url(https://japantravelsights.com/wp-content/uploads/2024/07/image-32-1024x619.png);
}

footer {
  background-color: black;
  color: white;
  padding: 16px;
}

ul.homepage{
  display: flex;
  gap: 20px;
  justify-content: center;
}
ul.homepage li a{
    color: #fb3b2dff;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul.homepage li a:hover{
    color: #5d8be8ff;
}